<div class="container-fluid">
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-skin-primary-darker fixed-top" style="height: 90px;">
      <div class="col-md-1">
         <a class="avater" href="#">
             <img alt="" src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/7.0.3/images/logo.svg" width="105" height="35" decoding="async" data-nimg="1" class="relative overflow-hidden false max-w-none" loading="lazy" style="color: transparent; object-fit: contain">
         </a>
     </div>
     <div class="col-md-2">
         <div class="dropdown">
             <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Dropdown <i class="fas fa-caret-down"></i>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
                 <a class="dropdown-item" href="#">Something else here</a>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <form class="d-flex">
             <input class="form-control me-2" type="search" placeholder="Search for over 5000 products" aria-label="Search">
         </form>
     </div>
     <div class="col-md-3 login ">
         <span class="navbar-nav ms-auto">
            <% if current_user %>
             <a class="nav-link text-decoration-none" style="color: white;" href="/account" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</a>
             <% else %>
             <a class="nav-link text-decoration-none" style="color: white;" href="<%= new_user_session_path %>">Login</a>
           <% end %>           
           <% if current_user && current_user.cart.present? %>
             <%= link_to carts_path, id: "my-cart-link", class: "btn btn-danger btn-lg text-decoration-none custom-btn", style: "color: white;width:170px;margin-left:20px;" do %>
                <i class="bi bi-bag"></i>
                <span>My Cart</span>
              <% end %>
             <% else %>
              <%= link_to carts_path, class: "btn btn-danger btn-lg text-decoration-none custom-btn", style: "color: white;width:170px;margin-left:20px;" do %>
                <i class="bi bi-person"></i>
                <span>My cart</span>
              <% end %>
            <% end %>
          </span>
      </div>
    </nav>
  </div>
</div>
<%= render 'home/profile_modal' %>
