<h1 style="margin-top:100px;">User Profile</h1>
<p>Email: <%= current_user.email %></p>


<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <a class="navbar-brand" href="#">My Account</a>
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Email</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Chat with us</a>
          </li>
          <li class="nav-item">
              <% if user_signed_in? %>
                <%= button_to(
                  "Log Out",
                  destroy_user_session_path,
                  method: :delete
                ) %>
              <% end %>
            </li>
      </ul>
    </div>
    <div class="col-md-9">
        <!-- Your content here -->
    </div>
    </div>
</div>

    

    