<div class="container-fluid " >
   <div class="row" style="height:70px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-skyblue">

      <!-- Zepto Logo -->
      <div class="col-md-1" style="margin-right:0px;">
        <a class="navbar-brand" href="#">
          <img src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/10.0.7/images/header/primary-logo.svg" alt="Zepto Logo" width="90" height="30" class="d-inline-block align-bottom" style="margin-left:60px;">
        </a>
      </div>

      <!-- Search Bar -->
      <div class="col-md-10" style="margin-left: 0px; margin-right:0px;">
        <form class="d-flex mx-auto">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>

      <!-- Profile Link -->
      <div class="col-md-1">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </nav>  
   </div>
</div>
