/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bg-skin-primary-darker {
    background-color: rgb(16, 3, 82); 
}

.dropdown {
    border-left: 5px;
    border-left-color: antiquewhite;
    border-left-width: 2px;
    padding-left: 100px;
}

.d-flex {
    padding-left: 0px;
    width:95%;

}

.login {
   font-size: 25px;
   padding-left: 150px;
   text-decoration: none;
}

.avater {
    padding-left: 50px;
}

.cart {
    padding-left: 30px;
}

.custom-btn {

   border-left-width: 25px;
   border-right-width: 25px;
   font-size: 25px;
   padding-left: 20px;
   padding-right: 20px;
}
.card-link:hover {
    text-decoration: none;
}
.bg-blue {
    background-color: rgb(106, 23, 123); /* Change this to your desired shade of blue */
    color: white; /* Add text color as needed to ensure readability */
    font-size: 15px;
    padding-top: 5px;
    text-align: center;

}
