<div class="container">
   <div class="header" style="padding-top: 100px;">
      <h5 class="mb-2">Products For You</h5>
   </div>
   <div class="products-container scrollbar">
     <% @products.each_slice(5) do |product_group| %>
       <div class="row justify-content-between align-items-stretch">
         <% product_group.each do |product| %>
           <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
             <div class="card product-container" style="width: 275px; height: 300px;"> <!-- Fixed height added -->
               <a href="<%= product_path(product) %>" class="d-flex flex-column h-100">
                 <div class="card-body">
                   <h5 class="card-title" style="font-size: 16px;"><strong><%= product.name %></strong></h5> <!-- Decreased font size -->
                   <p class="card-text" style="font-size: 14px;"><%= product.weight %>grms</p> <!-- Decreased font size -->
                   <h5 class="card-text" style="font-size: 16px;"><strong><%= number_to_currency(product.price, unit: '₹') %></strong></h5> <!-- Decreased font size -->
                 </div>
               </a>
             </div>
           </div>
         <% end %>
       </div>
     <% end %>
   </div>
</div>
